* {
    font-family: Arial, Helvetica, sans-serif   ;
    font-size: 16px;
}

body{
    background-color: #631818;
    margin: 0;          
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}